*.app
*.o
*.DS_Store
example/.DS_Store
*.sdf
*.suo
*.opensdf
*/obj/*
*/ipch/*
*/bin/*
example/.vs/
example/icon.rc
example/example.vcxproj.user
example/example.vcxproj.filters
example/example.vcxproj
example/example.sln
addons/ofxNetwork/src/ofxUDPManager.obj
addons/ofxNetwork/src/ofxTCPServer.obj
addons/ofxNetwork/src/ofxTCPManager.obj
addons/ofxNetwork/src/ofxTCPClient.obj
addons/ofxNetwork/src/ofxNetworkUtils.obj
addons/ofxArtnet/src/ofxArtnet.obj
example_recv/.vs/example_recv/v15/ipch/AutoPCH/e9545382c4bb1838/MAIN.ipch
example_recv/.vs/example_recv/v15/ipch/AutoPCH/de6b65fdfd8c6f53/OFAPP.ipch
example_recv/.vs/example_recv/v15/ipch/AutoPCH/b7e09164a70e1e67/OFXARTNETRECEIVER.ipch
example_recv/.vs/example_recv/v15/ipch/AutoPCH/b6d0a8647247c0a6/OFTHREAD.ipch
example_recv/.vs/example_recv/v15/ipch/AutoPCH/af40249b7c1865f7/OFXUDPMANAGER.ipch
example_recv/.vs/example_recv/v15/ipch/AutoPCH/9db4f27dd33f06c4/OFAPPRUNNER.ipch
example_recv/.vs/example_recv/v15/Browse.VC.db
example_recv/.vs/example/v15/ipch/AutoPCH/71ff1c83442fe1fe/OFAPP.ipch
example_recv/.vs/example/v15/ipch/AutoPCH/5465f209f82a429b/OFXARTNET.ipch
example_recv/.vs/example/v15/Solution.VC.db-wal
example_recv/.vs/example/v15/Solution.VC.db-shm
example_recv/.vs/example/v15/Solution.VC.db
example_recv/.vs/example/v15/Browse.VC.db
example_recv/.vs/example_recv/v15/ipch/AutoPCH/99eb9d274ddd9ddd/OFXARTNETSENDER.ipch
example_recv/.vs/example_recv/v15/ipch/AutoPCH/8b05b71b1537462/OFMAINLOOP.ipch
example_recv/.vs/example_recv/v15/ipch/AutoPCH/7fad2282d8b89ca7/OFXARTNETSENDER.ipch
example_recv/.vs/example_recv/v15/ipch/AutoPCH/6edf1168691e1995/OFTHREAD.ipch
example_recv/.vs/example_recv/v15/ipch/AutoPCH/68247450b10b466a/OFXARTNETPROTOCOL.ipch
example_recv/.vs/example_recv/v15/ipch/AutoPCH/67bd313d11f49e2d/OFXARTNETRECEIVER.ipch
example_recv/.vs/example_recv/v15/Solution.VC.db
example_send/.vs/example/v15/ipch/AutoPCH/5465f209f82a429b/OFXARTNET.ipch
example_send/.vs/example/v15/Solution.VC.db-wal
example_send/.vs/example/v15/Solution.VC.db-shm
example_send/.vs/example/v15/Solution.VC.db
example_send/.vs/example/v15/Browse.VC.db
example_send/.vs/example_send/v15/Solution.VC.db-wal
example_send/.vs/example_send/v15/Solution.VC.db-shm
example_send/.vs/example_send/v15/Solution.VC.db
example_send/.vs/example_send/v15/Browse.VC.opendb
example_send/.vs/example_send/v15/Browse.VC.db
example_send/.vs/example/v15/ipch/AutoPCH/71ff1c83442fe1fe/OFAPP.ipch
example_send/.vs/example_send/v15/ipch/AutoPCH/5a71f836ca76c8ad/OFXARTNETSENDER.ipch
example_send/.vs/example_send/v15/ipch/AutoPCH/8a0b164b0fd2e2d7/OFXARTNETRECEIVER.ipch
example_send/.vs/example_send/v15/ipch/AutoPCH/d17e363a9680b2dd/OFAPP.ipch
addons/ofxArtnet/src/com/ofxArtnetReceiver.obj
addons/ofxArtnet/src/com/ofxArtnetProtocol.obj
*.sln
*.rc
*.user
*.filters
*.vcxproj
example_send_threaded/.vs/
example_send/.vs/
example_recv/.vs/example_recv/v15/ipch/AutoPCH/acf32d9b3494ba6b/OFAPP.ipch
/example_recv/.vs/example_recv/v15/Solution.VC.db-shm
/example_recv/.vs/example_recv/v15/Solution.VC.db-wal
example_recv/.vs/
